*.log
*.results
*.pdf
~*
*~
*.aux
*.cmo
*.cma
*.byte
#*
*#
.#*
fullpage.sty
*.vo
*.glob
*.cache
*.bc
*.os
*.ll
*.o
*.a
*.iso
*.bin
*.d
*.cmd
build/
TAGS
.vagrant
validator/_build
validator/out
validator/test-results
klee-*/
klee-last
*/*.gen.*
*/loop.*
*/state.*
.DS_Store
*.swp
.vscode/*
*.vfmanifest
