#include <stdint.h>
#include <stdbool.h>
#include <string.h>
#include "libvig/verified/ether.h"
#include "libvig/verified/emap.h"
#include "libvig/verified/packet-io.h"
#include "libvig/verified/tcpudp_hdr.h"
#include <rte_ip.h>
#include <rte_ether.h>

/*@
  inductive rte_ether_hdri = rte_ether_hdrc(rte_ether_addri, rte_ether_addri, int);
  predicate rte_ether_hdrp(struct rte_ether_hdr *rte_ether; rte_ether_hdri hdr) =
    rte_ether_addrp(&rte_ether->d_addr, ?daddr) &*&
    rte_ether_addrp(&rte_ether->s_addr, ?saddr) &*&
    rte_ether->ether_type |-> ?et &*&
    hdr == rte_ether_hdrc(saddr, daddr, et);

  inductive rte_ipv4_hdri = rte_ipv4_hdrc(int, int, int, int, int, int, int, int, int, int);
  predicate rte_ipv4_hdrp(struct rte_ipv4_hdr* hdr; rte_ipv4_hdri val) =
    hdr->version_ihl |-> ?vihl &*&
    hdr->type_of_service |-> ?tos &*&
    hdr->total_length |-> ?len &*&
    hdr->packet_id |-> ?pid &*&
    hdr->fragment_offset |-> ?foff &*&
    hdr->time_to_live |-> ?ttl &*&
    hdr->next_proto_id |-> ?npid &*&
    hdr->hdr_checksum |-> ?cksum &*&
    hdr->src_addr |-> ?saddr &*&
    hdr->dst_addr |-> ?daddr &*&
    val == rte_ipv4_hdrc(vihl, tos, len, pid, foff, ttl, npid, cksum, saddr, daddr);

  inductive tcpudp_hdri = tcpudp_hdrc(int, int);
  predicate tcpudp_hdrp(struct tcpudp_hdr* hdr; tcpudp_hdri val) =
    hdr->src_port |-> ?srcp &*&
    hdr->dst_port |-> ?dstp &*&
    val == tcpudp_hdrc(srcp, dstp);

  inductive phdr = rte_ether_hdr(rte_ether_hdri)
                 | rte_ipv4_hdr(rte_ipv4_hdri)
                 | tcpudp_hdr(tcpudp_hdri);

  lemma list<phdr> add_rte_ether_header(list<phdr> prev, void* chunk);
  requires rte_ether_hdrp(chunk, ?eh);
  ensures rte_ether_hdrp(chunk, eh) &*& result == cons(rte_ether_hdr(eh), prev);

  lemma list<phdr> add_rte_ipv4_header(list<phdr> prev, void* chunk);
  requires rte_ipv4_hdrp(chunk, ?ih);
  ensures rte_ipv4_hdrp(chunk, ih) &*& result == cons(rte_ipv4_hdr(ih), prev);

  lemma list<phdr> add_tcpudp_header(list<phdr> prev, void* chunk);
  requires tcpudp_hdrp(chunk, ?th);
  ensures tcpudp_hdrp(chunk, th) &*& result == cons(tcpudp_hdr(th), prev);
@*/

// VeriFast can't deal with bitwise AND, so we hardcode known cases.
/*@
lemma void bit_and_hack()
requires true;
ensures 0x00 == (0x00 & 0x10) 
    &*& 0x00 == (0x01 & 0x10)
    &*& 0x10 == (0x11 & 0x10)
    &*& 0x00 == (0x41 & 0x10)
    &*& 0x10 == (0x111 & 0x10)
    &*& 0x10 == (0x211 & 0x10)
    &*& 0x00 == (0x241 & 0x10);
{
  assume(false);
}

lemma_auto void bit_and_equiv(unsigned int i)
requires i < 65536;
ensures i == (i & 65535);
{
  assume(false);
}

// VeriFast can't reason about modulo either, let's help it a bit...
lemma void modulo_hack()
requires true;
ensures forall_(int i; i < 0 || i % 2 == 0 || i % 2 == 1);
{
  assume(false);
}
@*/

void nf_set_rte_ipv4_udptcp_checksum(struct rte_ipv4_hdr* ip_header,
                                 struct tcpudp_hdr* l4_header,
                                 void* packet);
/*@ requires rte_ipv4_hdrp(ip_header, rte_ipv4_hdrc(?vihl, ?tos, ?len, ?pid, ?foff,
                                            ?ttl, ?npid, _, ?saddr, ?daddr)) &*&
             tcpudp_hdrp(l4_header, tcpudp_hdrc(?srcp, ?dstp)) &*&
             packetp(packet, ?payload_len, ?x); @*/
/*@ ensures rte_ipv4_hdrp(ip_header, rte_ipv4_hdrc(vihl, tos, len, pid, foff,
                                           ttl, npid, _, saddr, daddr)) &*&
             tcpudp_hdrp(l4_header, tcpudp_hdrc(srcp, dstp)) &*&
             packetp(packet, payload_len, x); @*/


void umemcpy(void *array, void *array0, size_t count);
    //@ requires uchars(array, count, ?cs) &*& [?f]uchars(array0, count, ?cs0);
    //@ ensures uchars(array, count, cs0) &*& [f]uchars(array0, count, cs0);

/*@ predicate hide_is_map_keys_equality<t>(map_keys_equality* fun,
                                           predicate (void*;t) keyp) =
      is_map_keys_equality<t>(fun, keyp);
 @*/

/*@ predicate hide_is_map_key_hash<t>(map_key_hash* fun,
                                      predicate (void*;t) keyp,
                                      fixpoint (t,int) hsh) =
      is_map_key_hash<t>(fun, keyp, hsh);
 @*/

/*@ predicate hide_mapp<t>(struct Map* p,
                           predicate (void*;t) kp,
                           fixpoint (t,int) hsh,
                           fixpoint (t,int,bool) recp,
                           mapi<t> m) = mapp<t>(p, kp, hsh, recp, m); @*/

/*@ predicate hide_vector<t>(struct Vector* vector,
                             predicate (void*;t) entp,
                             list<pair<t, real> > values,
                             list<void*> addrs) = vectorp<t>(vector, entp, values, addrs); @*/
